:root {
    --lt-color-gray-100: #f8f9fc;
    --lt-color-gray-200: #f1f3f9;
    --lt-color-gray-300: #dee3ed;
    --lt-color-gray-400: #c2c9d6;
    --lt-color-gray-500: #8f96a3;
    --lt-color-gray-600: #5e636e;
    --lt-color-gray-700: #2f3237;
    --lt-color-gray-800: #1d1e20;
    --lt-color-gray-900: #111213;
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
    --lt-color-white: #fff !important;
    --lt-color-black: #111213 !important;
    --lt-color-transparent: rgba(255, 255, 255, 0) !important;
    --lt-color-background-light: var(--lt-color-gray-100) !important;
    --lt-color-background-default: var(--lt-color-gray-200) !important;
    --lt-color-background-dark: var(--lt-color-gray-300) !important;
    --lt-color-border-light: var(--lt-color-gray-200) !important;
    --lt-color-border-default: var(--lt-color-gray-300) !important;
    --lt-color-border-dark: var(--lt-color-gray-400) !important;
    --lt-color-text-very-light: var(--lt-color-gray-500) !important;
    --lt-color-text-light: var(--lt-color-gray-600) !important;
    --lt-color-text-default: var(--lt-color-gray-700) !important;
    --lt-color-text-dark: var(--lt-color-gray-800) !important;
    --lt-color-overlay-default: #fff !important;
    --lt-color-overlay-dark: #fff !important;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1) !important;
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3) !important;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-color: #f8f9fc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap-login100 {
    width: 560px;
    background: #fff;
    border-radius: 10px;
    box-shadow: var(--lt-shadowDefault);
    padding: 55px 85px;
    box-sizing: border-box;
}

.login100-form {
    width: 100%;
}

.login100-form-title {
    display: block;
    font-size: 36px;
    color: var(--lt-color-text-dark);
    line-height: 1.2;
    text-align: center;
    margin-bottom: 32px
}

.txt1 {
    font-size: 14px;
    color: var(--lt-color-text-light);
    line-height: 1.5;
    display: block;
    margin-bottom: 11px;
}

.wrap-input100 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 36px;
}

.input100 {
    font-size: 18px;
    color: var(--lt-color-text-default);
    line-height: 1.2;
    font-family: 'Raleway', sans-serif;
    display: block;
    width: 100%;
    background: var(--lt-color-background-light);
    height: 55px;
    padding: 0 25px;
    border: none;
    outline: none;
    border-radius: 5px;
    box-sizing: border-box;
}

.focus-input100 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    margin: auto;
    pointer-events: none;
    border: 1px solid transparent;
    transition: all 0.4s;
}

.input100:focus + .focus-input100 {
    border-color: var(--lt-color-gray-600);
}

.container-login100-form-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.login100-form-btn {
    font-size: 16px;
    color: var(--lt-color-white);
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    padding: 0 25px;
    width: calc(50% - 10px);
    height: 50px;
    border-radius: 5px;
    background: var(--lt-color-gray-700);
    display: inline-block;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.login100-form-btn:hover {
    background: rgba(87,184,70, 0.8);
}

.login100-form-btn:active {
    background: rgb(87,184,70);
}

/* Добавляем анимацию */
@keyframes highlight {
    0% {
      outline: none;
    }
    50% {
      outline: 2px solid green;
    }
    100% {
      outline: none;
    }
  }
  
  /* Стиль для элемента с анимацией */
  .highlight {
    animation: highlight 1s ease-in-out;
  }
  