<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookie Experiment</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="wrap-login100">
        <form class="login100-form" autocomplete="off">
            <span class="login100-form-title">COOKIE EXPERIMENT</span>
            <span class="txt1">Key</span>
            <div class="wrap-input100">
                <input class="input100" type="text" id="key_input">
                <span class="focus-input100"></span>
            </div>
            <span class="txt1">Value</span>
            <div class="wrap-input100">
                <input class="input100" type="text" id="value_input">
                <span class="focus-input100"></span>
            </div>
            <div class="container-login100-form-btn">
                <button id="add_button" class="login100-form-btn">Add</button>
                <button id="get_button" class="login100-form-btn">Get</button>
            </div>
        </form>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>
